.tit2 {
  color: #ebeced;
  font-size: 50px;
  font-weight: 800;
  // letter-spacing: -3px;
  margin: 0;
  text-align: center;
}

.studn-details {
  padding: 60px 0;
  background-color: rgba(170, 170, 170, 0.208);
  .stu {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
  }
  .card-title {
    font-weight: bold;
    font-size: 18px;
  }
  .card-text {
    font-size: 14px;
  }
}
